@model x_nova_template.ViewModel.CartViewModel
@{
    ViewBag.Title = "Оформление заказа";

}
<script>
    function removeSucc(data) {
        $('#prod_' + data.id).fadeOut('slow');
    }

</script>
@{var options = new AjaxOptions
{
    OnSuccess = "removeSucc"
};}

<div class="cartwrap">
    <h2>Корзина</h2>
    @Model.Cart.ClientDetails.Address<br />
    @Model.Cart.ClientDetails.Delivery<br />
    @Model.Cart.ClientDetails.Email<br />
    @Model.Cart.ClientDetails.FirstName<br />
    @Model.Cart.ClientDetails.Phone<br />
    @Model.Cart.ClientDetails.LastName<br />
    @Model.Cart.ClientDetails.Payment<br />
   
    @ViewBag.CliendIsEmpty
    @if (Model.Cart.Lines.Count() > 0)
    {
        @*<table>
            <thead>
            <tr>
                <th style="width: 100px;">Фото</th>
                <th style="width: 100px;">Название</th>
                <th style="width: 100px;">Цена</th>
                <th style="">кол-во</th>
                <th style="width:100px;">итого</th>
                <th>удалить</th>
            </tr>
                </thead>
            <tbody>*@
        <div class="cart-cont">
            @foreach (var item in Model.Cart.Lines)
            {
                <div class="cart-row item-row" data-pid="@item.Product.ID">

                    <div class="cart-total-td">
                        <span class="item-total">@((item.Product.Price * item.Quantity).ToString("N0"))</span> <i class="fa fa-rouble"></i>
                        
                    </div>
                    <div class="cart-summary">
                       
                        <span><span class="cart-quantity-td"><span data-event-type="cart__decrease"><i class="fa fa-minus-circle item-dec"></i></span><span class="cart-quantity-val">@item.Quantity</span><span data-event-type="cart__increase"><i class="fa fa-plus-circle item-inc"></i></span></span></span>
                        <span></span>
                    </div>
                    <div class="cart-item-info">
                        <div class="cart-img-td"><img src="@Url.Action("GetProdImage", "ImageData", new {pid=item.Product.ID,width=60,height=60 })" /></div>
                        <div class="cart-update-info">
                            <div class="cart-title-td">
                                <div class="cart-title-text">@(item.Product.ProductName.Length > 60 ? item.Product.ProductName.Substring(0, 60) + ".." : item.Product.ProductName)</div>
                                <div class="cart-update__actions">
                                    <span class="top-cart-remove" data-event-type="cart__remove">удалить</span>
                                        @*<span class="cart-price-td">@item.Product.Price.ToString("0 000") <i class="fa fa-rouble"></i></span>
                                        <span class="cart-quantity-td"><button class="item-dec cart-value-btn"><span><i class="fa fa-minus-circle"></i></span></button><span class="cart-quantity-val">@item.Quantity</span><button class="item-inc cart-value-btn"><span><i class="fa fa-plus-circle"></i></span></button></span>
                                        *@ </div>
                            </div>

                        </div>

                    </div>
                    @*<div class="cart-remove-td"><i class="fa fa-times" data-id="@item.Product.ID"></i></div>*@
                </div>
            }
            <div class="cart-row__bottom">
                <div class="cart-sum-td">Общая цена: <span class="pbasket-total">@Model.Cart.TotalValue().ToString("N0")</span> <i class="fa fa-rouble"></i></div>
                <div class="cart-clear"></div>
                <div class="cart-options" style="text-align:right;position:relative;">
                    <button class="btn newitem-button" onclick="$.post('/Cart/Clear');$('.cartwrap').html('Корзина пуста');">Очистить корзину</button>
                    <button class="btn newitem-button" onclick="window.location='/';">Продолжить покупки</button>
                    <button class="btn newitem-button" data-event-type="cart__checkout">Оформить заказ</button>

                </div>
            </div>
        </div>
        @*   <tr>
                <td colspan="4" style="text-align:right;"></td>
                <td class="cart-sum-td" colspan="2">Общая цена: <span class="pbasket-total">@Model.Cart.TotalValue().ToString("0 000")</span> <i class="fa fa-rouble"></i></td>
            </tr>
            <tr>
                <td colspan="6"><button class="newitem-button" onclick="$.post('/Cart/Clear');$('.cartwrap').html('Корзина пуста');">Очистить корзину</button></td>
            </tr>
            <tr>
                <td colspan="6" style="text-align:right;position:relative;">
                    <button class="newitem-button" onclick="window.location='/';">Продолжить покупки</button>
                    <button class="newitem-button checkout-auth">Оформить заказ</button>

                        </td>
                    </tr>
                        </tbody>
                </table>*@
    }
    else
    { <div>Корзина пуста!</div>}
</div>
