@model x_nova_template.ViewModel.PostViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Новости</h2>

<p style="display: inline-block;">
    <a href="/Admin/Post/Create" class="k-button k-button-icontext"><span class="k-icon k-i-plus" style="color:white">&nbsp;</span>Создать</a>
</p>
<table class="admTable stripedMe">
    <tr class="tdTitle">
        <th>Фото</th>
        <th style="width:200px;">Дата</th>
        <th>
           Название
        </th>
       
       
        
        <th></th>
    </tr>

@foreach (var item in Model.Posts) {
    <tr >
        <td>
            <img class="preview files-img" src="@Url.Action("GetPostImage", "ImageData",new {id=item.ID,width=75,height=75}) " id="@item.ID" alt="@item.Title" height="50" width="50" />
        </td>
        <td>
          @item.CreatedAt.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
       
       
        <td>  
            <a href="@Url.Action("Edit", "Post", new {id=item.ID,cpage=Model.PagingInfo.CurrentPage })" title="Редактировать" class="k-button"><span class="k-icon k-i-pencil"></span></a>          
            <a href="@Url.Action("Delete", "Post", new {id=item.ID,cpage=Model.PagingInfo.CurrentPage })" title="Удалить" class="k-button"><span class="k-icon k-i-close"></span></a>
        </td>
    </tr>
}

</table>
<div class="pager">@Html.PageLinks(Model.PagingInfo,x=> Url.Action("Index", new {page=x }))</div>

@(Html.Kendo().Notification()
    .Name("notification")
    .Position(x => x.Left(0))
    .AutoHideAfter(10000)
)
@if (TempData["message"] != null)
{
    <script>

        $(function () {

            var notification = $("#notification").data("kendoNotification");
            var type ="";
            switch(@TempData["type"]){case 1:type="success";break;case 2:type="info";break;case 3:type="warning";break;default:type="error";};
            notification.show(
               '@TempData["message"]'
            ,type);
        });
    </script>
}