@model x_nova_template.Models.Order

@{
    ViewBag.Title = "Заказ принят";
    Layout = "~/Views/Shared/_PageMenuLayout.cshtml";
}
<h2>Ваш заказ принят !</h2>
<p style="color:red;"></p>
<p>Благодарим вас за покупку! Наш оператор вскоре с вами свяжется.</p>

<div class="checkout-finished checkout-block">
    
    <div class="ch-f__wrap">
        <dl style="text-align:left;">
            <dt><span>Сумма заказа</span></dt>
            <strong><dd><span>@Model.OrderSum.ToString("N0") руб</span></dd></strong>
            <dt><span>Куда доставить</span></dt>
            <dd>
                <span>
                    @Model.Address
                </span>
            </dd>
            <dt><span>Способ оплаты</span></dt>
            <dd>
                <span>@Model.Payment</span>
            </dd>
            <dt><span>Статус заказа</span></dt>
            <dd><span><strong style="color:black">@Model.OrderStatus</strong></span></dd>
            <dt><span>Эл. почта</span></dt>
            <dd><span>@Model.EmailAddress</span></dd>

            <dt><span>Телефон</span></dt>
            <dd><span>@Model.Phone</span></dd>


        </dl>

        <table class="order_contents">
            <tbody>
                <tr>
                    <td>В заказе</td>
                    <td>К-во,<br>шт.</td>
                    <td>Сумма,<br>руб.</td>
                </tr>
                @foreach (var item in Model.OrderItems)
                {
                    <tr>
                        <td style="text-align: left;">
                            <span class="products"><strong>@item.ProductName</strong></span>
                        </td>
                        <td>@item.Quantity</td>
                        <td>@((item.Price * item.Quantity).ToString("N0")) руб</td>
                    </tr>
                }
                <tr>
                    <td colspan="2" style="text-align:right"><strong>Итого:</strong></td>
                    <td>@Model.OrderSum.ToString("N0") руб</td>
                </tr>
            </tbody>
        </table>


    </div>

</div>

@Html.Partial("_CartInfoPartial")

<div class="main-notify alert alert-warning">*Сохраните эту с траницу для отслеживания статуса заказа</div>