@model x_nova_template.ViewModel.CheckoutViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PageMenuLayout.cshtml";
}
<script>
    $('a.inactive').on('click', function () { return false; });
    
    $('ol.breadcrumb li')
</script>

    @{var step3 = ViewBag.Step3 ?
   Html.ActionLink("Доставка", "Index", "Checkout", new { step = 3 }, new { @class = "addtocart" }) :
   Html.ActionLink("Доставка", "Index", "Checkout", new { step = 3 }, new { @class = "inactive", disabled = "disabled" });

    var step4 = ViewBag.Step4 ?
          Html.ActionLink("Оплата", "Index", "Checkout", new { step = 4 }, new { @class = "addtocart" }) :
          Html.ActionLink("Оплата", "Index", "Checkout", new { step = 4 }, new { @class = "inactive", disabled = "disabled" });
    var step2 = ViewBag.Step2 ?
        Html.ActionLink("Детали", "Index", "Checkout", new { step = 2 }, new { @class = "addtocart" }) :
        Html.ActionLink("Детали", "Index", "Checkout", new { step = 2 }, new { @class = "inactive" });
    var step1 = Html.ActionLink("Корзина", "Index", "Checkout", new { step = 1 }, new { @class = "addtocart" });
    }
<nav class="no-touch">
    <ol class="cd-multi-steps text-top">
    @if (ViewBag.step == 1)
    {
    <li class="current"><em>Корзина</em></li>}
    else
    {
    <li class="visited">@step1</li> }
    @if (ViewBag.step == 2)
{
    <li class="current"><em>Детали</em></li>}
else
{
    <li class="@(ViewBag.Step2?"visited":"")">@step2</li> }
    @if (ViewBag.step == 3)
{
    <li class="current"><em>Доставка</em></li>}
    else
    {
        <li class="@(ViewBag.Step3?"visited":"")">@step3</li> }
    @if (ViewBag.step == 4)
{
    <li class="current"><em>Оплата</em></li>}
    else
    {
        <li class="@(ViewBag.Step4?"visited":"")">@step4</li> }
</ol>
    </nav>
<div id="ch-content">
    @if (ViewBag.Step == 1)
    {
       
                
        Html.RenderAction("Index", "Cart");
    }
    else if (ViewBag.Step == 2)
    {
        @Html.Partial("_ShippingDetails")
    }
    else if (ViewBag.Step == 3)
    {
        @Html.Partial("_Delivery")
    }
    else
    {
        @Html.Partial("_Payment")
    }
    
    @Html.Partial("_CartInfoPartial")
</div>



