@{/*بسم الله الرحمن الرحيم*/}


<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @if (IsSectionDefined("SEO"))
    {
        @RenderSection("SEO", false)
    }
    else
    {
        <meta name="keywords" content="@ConfigController.SiteOptions().Keywords" />
        <meta name="description" content="@ConfigController.SiteOptions().Description" />
    }
    @*@Styles.Render("~/Content/kcss")*@
        <link rel="stylesheet" type="text/css" href="/Content/fonts/flaticon/flaticon.css"> 
    
    <link rel="stylesheet" type="text/css" href="~/font-awesome/css/fontawesome-all.min.css">

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/authcss")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/sitejs")

    @Scripts.Render("~/bundles/bootstrap")

    <script>
    function collapseCycle() {
        $.post('/Config/Abandon');
    }

        @if (Request.Browser.Browser.ToLower() == "internet explorer") {

        <text>
                $('html').addClass('ie');
        </text>
    }

    </script>
    <script>
        $(function () {
            var menuLeft = $('#cbp-spmenu-s1'),
            showLeft = $('#showLeft'),
            body = $('body');
            body.on('click', function () {
                if (menuLeft.hasClass('cbp-spmenu-open')) { menuLeft.toggleClass('cbp-spmenu-open'); showLeft.toggleClass('active'); }
            });
            showLeft.on('click', function () {

                $(this).toggleClass('active');
                setTimeout(function () { menuLeft.toggleClass('cbp-spmenu-open'); }, '100');
                //disableOther('showLeft');
            });

            function disableOther(button) {
                if (button !== 'showLeft') {
                    classie.toggle(showLeft, 'disabled');
                }

            }

        });
    </script>



</head>
<body class="cbp-spmenu-push" lang="@System.Threading.Thread.CurrentThread.CurrentCulture.Name" onbeforeunload="collapseCycle()" data-pagecounter="@ViewBag.PageCounter">
    
    @Html.Partial("_ModalWindows", new x_nova_template.ViewModel.TemplatesViewModel { type = 0 })

    <div class="wrapper">
        <!----------------- header start ------------------- -->
        <header id="top-section">
            <div class="cont">
                <div class="top-section__main">
                    @Html.Partial("_Logo")

                    <div class="header-nav">

                        @Html.Partial("_HeaderInfo")

                    </div>
                </div>
            </div>
            <nav class="header-nav__wrap">
                <div class="cont">
                    <div class="resp-logo"><img src="@Url.Content("~/Content/em/logo.png")" /></div>
                    <div class="header-nav__main">
                        @{Html.RenderAction("CatsMenu", "Category");}
                        @{Html.RenderAction("SS", "Menu", new { menuSection = 0 });}
                    </div>
                </div>
            </nav>



        </header>
        <!-----------------   Header  end  ------------------- -->
        <!-----------------   Slider start    ------------------- -->
      
        <!-----------------   Slider end    ------------------- -->
        <!-----------------   Content start    ------------------- -->

        <main id="content" class="clear-fix">
            <div class="main-overlay"></div>
            <div class="cont">

                @*<h1>Добро пожаловать</h1>
                <section class="section_1 section_default">
                    Мы создаем уют в любом пространстве — будь то долгожданная квартира, новый офис или любимая дача. Вот уже 8 лет мы каждый день работаем, стараясь сделать мир еще удобнее, мягче и счастливее. Ведь жизнь в каждом доме начинается с мебели. С правильной мебели начинается хорошая жизнь.

                </section>*@
               
                <article id="article" >

                    @RenderBody()
                </article>


            </div>
        </main>

        <!-----------------   Content area  end  ------------------- -->
        <!-----------------   Footer area    ------------------- -->
        @Html.Partial("_Footer")
        <!-----------------   Footer area  end  ------------------- -->
    </div>



</body>
</html>
