@model  x_nova_template.ViewModel.ProductViewModel
@{
    var pType = new List<SelectListItem> {
        new SelectListItem {Text="Верхняя одежда",Value="Верхняя одежда"},
        new SelectListItem {Text="Толстовки и олимпийки",Value="Толстовки и олимпийки"},
        new SelectListItem {Text="Джемперы и кардиганы",Value="Джемперы и кардиганы"},
        new SelectListItem {Text="Плащ",Value="Плащ"},
        new SelectListItem {Text="Ветровка",Value="Ветровка"}

    };
    var coup = new List<SelectListItem> {
        new SelectListItem {Text="Есть",Value="Есть"},
        new SelectListItem {Text="Нет",Value="Нет"}
      };

}

<div class="product-view k-widget">
    <dl>

        <!--
        <dt>Название S</dt>
        <dd>

            @(Html.TextBoxFor(p=>p.ProductName))

            <span data-for="ProductName" class="k-invalid-msg"></span>
        </dd>
        -->
        <dd>Название</dd>
        <dd>
            @(Html.TextBoxFor(p => p.ProductName))
            <!-- UnitPrice validation message placeholder -->
            <span data-for="Price" class="k-invalid-msg"></span>
        </dd>
        <dd>Описание</dd>
        <dd>
            @(Html.TextAreaFor(p => p.Description))
            <!-- UnitsInStock validation message placeholder -->
            <span data-for="Description" class="k-invalid-msg"></span>
        </dd>
        <dd>Упаковка</dd>
        <dd>
            @(Html.TextBoxFor(p => p.MatForm))
            <!-- UnitsInStock validation message placeholder -->
            <span data-for="MatForm" class="k-invalid-msg"></span>
        </dd>
        <dd>Материал изделия</dd>
        <dd>
            @(Html.TextBoxFor(p => p.MatProd))
            <!-- UnitsInStock validation message placeholder -->
            <span data-for="MatProd" class="k-invalid-msg"></span>
        </dd>
        <dd>Производитель</dd>
        <dd>
            @(Html.TextBoxFor(p => p.Channel))
            <!-- UnitsInStock validation message placeholder -->
            <span data-for="Channel" class="k-invalid-msg"></span>
        </dd>
        @*<dd>Блок</dd>
        <dd>
            @(Html.TextBoxFor(p => p.Block))
          
            <span data-for="Block" class="k-invalid-msg"></span>
        </dd>*@
      
      
        @*<dd>Система охлаждения</dd>
        <dd>
            @(Html.DropDownListFor(p => p.Coupling, coup, "--выбрать--", new { style = "width:100px;" }))
           
            <span data-for="Coupling" class="k-invalid-msg"></span>
        </dd>*@
        <dd>Цвет</dd>
        <dd>
            @(Html.TextBoxFor(p => p.MatIronForm))
            <!-- UnitsInStock validation message placeholder -->
            <span data-for="MatIronForm" class="k-invalid-msg"></span>
        </dd>
        <dd>Срок изготовления пресс-форм</dd>
        <dd>
            @(Html.TextBoxFor(p => p.ProdTime))
            <!-- UnitsInStock validation message placeholder -->
            <span data-for="ProdTime" class="k-invalid-msg"></span>
        </dd>
        @*<dd>Твердость</dd>
        <dd>
            @(Html.TextBoxFor(p => p.Hardness))
            
            <span data-for="Hardness" class="k-invalid-msg"></span>
        </dd>*@
         <dd>Цена</dd>
            <dd>
                  @(Html.TextBoxFor(p => p.Price, new { style = "width:100px;" }))
                  
                  <span data-for="Price" class="k-invalid-msg"></span>
              </dd>
        <dd>Категории</dd>
        <dd>
            @(Html.DropDownListFor(p => p.CategoryID, (SelectList)ViewBag.Cats, new { style = "width:200px;" }))
            <!-- UnitsInStock validation message placeholder -->
            <span data-for="Description" class="k-invalid-msg"></span>
        </dd>




    </dl>

</div>

<script>

    $('.k-grid-cancel').text("Отмена");
    $('.k-grid-update').text("Сохранить");
    $('.k-edit-buttons').css('backgroundColor', ' white');
</script>