@model  x_nova_template.ViewModel.ProductViewModel
@{
    var pType = new List<SelectListItem> {
        new SelectListItem {Text="Верхняя одежда",Value="Верхняя одежда"},
        new SelectListItem {Text="Толстовки и олимпийки",Value="Толстовки и олимпийки"},
        new SelectListItem {Text="Джемперы и кардиганы",Value="Джемперы и кардиганы"},
        new SelectListItem {Text="Плащ",Value="Плащ"},
        new SelectListItem {Text="Ветровка",Value="Ветровка"}

    };
}
<div class="product-view k-widget">
    <dl>

        <!--
        <dt>Название S</dt>
        <dd>

            @(Html.TextBoxFor(p=>p.ProductName))

            <span data-for="ProductName" class="k-invalid-msg"></span>
        </dd>
        -->
        <dd>Название</dd>
        <dd>
            @(Html.TextBoxFor(p => p.ProductName))
            <!-- UnitPrice validation message placeholder -->
            <span data-for="Price" class="k-invalid-msg"></span>
        </dd>
        <dd>Описание</dd>
        <dd>
            @(Html.TextAreaFor(p => p.Description))
            <!-- UnitsInStock validation message placeholder -->
            <span data-for="Description" class="k-invalid-msg"></span>
        </dd>
        <dd>Цена</dd>
        <dd>
            @(Html.TextBoxFor(p => p.Price, new { style = "width:100px;" }))
            <!-- UnitsInStock validation message placeholder -->
            <span data-for="Price" class="k-invalid-msg"></span>
        </dd>
        <dd>Категории</dd>
        <dd>
            @(Html.DropDownListFor(p => p.CategoryID, (SelectList)ViewBag.Cats, new { style = "width:200px;" }))
            <!-- UnitsInStock validation message placeholder -->
            <span data-for="Description" class="k-invalid-msg"></span>
        </dd>




    </dl>

</div>

<script>

    $('.k-grid-cancel').text("Отмена");
    $('.k-grid-update').text("Сохранить");
    $('.k-edit-buttons').css('backgroundColor', ' white');
</script>