@model x_nova_template.Models.Product

<h3>Все фото:</h3>
<div>
    <table>
        <tr style="background:gray;color:white;">
            <th style="width: 100px;">фото</th>

            <th>в превью</th>
            <th>удалить</th>
        </tr>
        @foreach (var item in Model.ProdImages)
        {

            <tr>
                <td>
                    <img src="@Url.Action("GetProdImage", "ImageData", new {pimgid=item.ID,width=100,height=100 })" width="75" height="75" />
                    <span @(x_nova_template.Areas.Admin.Controllers.ProductController.CheckPreview(item.ID) ? "class=preview-text" : "")>
                        @(x_nova_template.Areas.Admin.Controllers.ProductController.CheckPreview(item.ID) ? "превью" : "")
                    </span>
                </td>

                <td><input type="radio" name="previewImg" data-pimgid="@item.ID" @(x_nova_template.Areas.Admin.Controllers.ProductController.CheckPreview(item.ID) ? "checked" : "") /> </td>
                <td><i class="fa fa-times preview-del" style="cursor:pointer" data-pimgid="@item.ID"></i></td>
            </tr>

        }
    </table>
</div>