@model x_nova_template.Models.Gallery

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<script>
    $(document).on('click', '.gal-item-del', function () {
        $.post('/PhotoGallery/DeleteImg/' + $(this).data('id'), function (data) {
            $('#'+data.imgId).closest("div").remove();
        });
    });
   
    $(function () {
        
    })
</script>


<p>
    
    <a class="k-button" href="@Url.Action("Index", "PhotoGallery", new {page=ViewBag.Page})"><i class="fa fa-arrow-left"></i></a>
    <br /><br /><br />
</p>
    <p class="breadcrumbs">@Html.ActionLink("галлерея","Index")  / @Model.GalleryTitle </p>

    
    <!--<div class="display-field">
      Название -  @Html.DisplayFor(model => model.GalleryTitle)
    </div><br />-->

     <div>
            
                <div style="float:left;">
                    <img width="150" height="150" src="@Url.Action("GetPhotoGalleryImage", "ImageData", new {id= Model.ID,width=150,height=150,isGallery=true })" />
                </div>
            
          
        </div><br />
    <div style="width: 100%;float: left;clear: both;">
    <h3>Все фото (@Model.Images.Count()):</h3>
    <a href="#" onclick="$('#gal-popup').data('kendoWindow').open()"><button class="k-button"><i class="fa fa-upload"></i>  Загрузить</button></a><br /><br /><br />
       
    
        @foreach (var item in Model.Images) { 
            
           
            
            if (item.ImageData == null)
            { 
                 @:None
                 }
            else
            { 
             
              
                <div style="float:left;margin:3px;width: 82px;">
                    <a href="#" >
                        <img width="35" height="35" class="preview gal-img-item" id="@item.ID" title="@item.ImageTitle" src="@Url.Action("GetPhotoGalleryImage", "ImageData", new { id = item.ID,width=50,height=50,isGallery=false })" /></a>
                        <button id="gal-item_@item.ID" data-id="@item.ID" data-galid="@item.GalleryID" title="удалить" class="gal-item-del" style="width: 33px;padding: 0;float: right;" class="action">
                            <span class="fa fa-trash"></span></button>
                </div>
            }
           
     
        }
        
    </div>

@(Html.Kendo().Window()
    .Title("Загрузка фото")
    .Name("gal-popup")
    .Modal(true)
    .Visible(false)
    
    .LoadContentFrom(Url.Action("UploadStart", new  {galId = Model.ID }))
    .Width(500)
    .Height(400)
    .Events(e=>e.Close("gpClose"))
      )
   
<script>

    function gpClose() { window.location.reload();}
</script>