@model x_nova_template.Models.Product
@{
    ViewBag.Title = Model.ProductName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb">@Html.RouteLink("Главная", "home") / @Html.ActionLink(ProductController.GetCatName(Model.CategoryID), "ProdList", new { catId = Model.CategoryID }) / @Model.ProductName</div>
<h3>@Model.ProductName</h3>
<div class="prod-view prod-view__details clear-fix" id="pid_@Model.ID">
    <div class="view-img">
        <div class="prod-image">
            <img src="@Url.Action("GetProdImage", "ImageData", new {pid=Model.ID,width=500,height=400 },Request.Url.Scheme)" />
        </div>
        <div class="imglist-wrap imglist-view" id="prod_sl_1">
            @*<i class="fa fa-chevron-left prev"></i>*@
            <div class="prod-imglist view-imglist">

                <ul>
                    @foreach (var img in Model.ProdImages)
                    {

                        <li>
                            <img class="detail-item" data-id="@img.ID" data-pid="@img.ProductID" src="@Url.Action("GetProdImage", "ImageData", new {pimgid=img.ID,type="small" },Request.Url.Scheme)" width="60"    height="60"  />
                        </li>
                    }
                </ul>
            </div>
            @*<i class="fa fa-chevron-right next"></i>*@
        </div>
    </div>
    <div class="listview-wrap">
        <div class="xn-i-details">
            <p><b>Характеристики:</b></p>
            <table>
                <tr class="d-type">
                    <th>Тип</th>
                    <td> @Model.ProductName</td>
                </tr>
                <tr class="d-cat">
                    <th>Область</th>
                    <td>@ProductController.GetCatName(Model.CategoryID)</td>
                </tr>
                @if (!string.IsNullOrWhiteSpace(Model.MatForm))
                {

                    <tr class="d-matform">
                        <th>Материал формообразующих</th>
                        <td>@Model.MatForm</td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(Model.Hardness))
                {

                    <tr class="d-hard">
                        <th>Твёрдость</th>
                        <td>@Model.Hardness</td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(Model.MatProd))
                {

                    <tr class="d-matprod">
                        <th>Материал изделия</th>
                        <td>@Model.MatProd</td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(Model.ProdTime))
                {

                    <tr class="d-chan">
                        <th>Срок изготовления пресс-форм до Т1</th>
                        <td>@Model.ProdTime</td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(Model.Channel))
                {

                    <tr class="d-chan">
                        <th>Тип канала</th>
                        <td>@Model.Channel</td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(Model.Coupling))
                {

                    <tr class="d-coup">
                        <th>Система охлаждения</th>
                        <td>@Model.Coupling</td>
                    </tr>
                }
                @if (!string.IsNullOrWhiteSpace(Model.MatIronForm))
                {

                    <tr class="d-matprod">
                        <th>Марка стали формообразующих</th>
                        <td>@Model.MatIronForm</td>
                    </tr>
                }

                @if (!string.IsNullOrWhiteSpace(Model.Block))
                {

                    <tr class="d-block">
                        <th>Блок</th>
                        <td>@Model.Block</td>
                    </tr>
                }

                @if (!string.IsNullOrWhiteSpace(Model.Size))
                {

                    <tr class="d-chan">
                        <th>Размер</th>
                        <td>@Model.Size</td>
                    </tr>
                }
            </table>
        </div>

    </div>


</div>
<script>
    $(function () {
        $('.prod-imglist li:eq(0)').css({ border: '1px solid rgb(189, 41, 41)' });

    });

</script>