@model x_nova_template.ViewModel.ProductListViewModel
@{
    ViewBag.Title = ProductController.GetCatName(ViewBag.CatID);
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
   
}

<div id="listview" class="prodlist" data-catid="@ViewBag.CatID">
    <div class="breadcrumb">@Html.RouteLink("Главная", "home") / @ProductController.GetCatName(ViewBag.CatID)</div>
    <h2>Каталог продукции</h2>
    <h3>@ProductController.GetCatName(ViewBag.CatID)</h3>
    <div class="separ"></div>
    <div id="listview-target">

    </div>
  
</div>

@*<div class="breadcrumb">@Html.RouteLink("Главная", "home") / @ProductController.GetCatName(Model.PagingInfo.CatId)</div>
<h2>Каталог продукции</h2>
<h3 style="width: 600px;">@ProductController.GetCatName(Model.PagingInfo.CatId)</h3>
<div class="separ"></div>
<div class="row">
    @foreach (var item in Model.Products)
    {

        <div class="listview-item col-md-5 col-sm-12 col-xs-12" id="pid_@item.ID" data-id="@item.ID">
            <div class="row">
                <div class="listview-wrap col-md-6 col-xs-6">
                    <div class="prod-title">
                        <a class="prod-preview" href="@Url.Action("Details", "Product", new { id=item.ID})">@item.ProductName</a>
                    </div>
                    <div class="prod-desc">
                        @(item.Description.Length > 160 ? item.Description.Substring(0, 160) + "..." : item.Description)

                    </div>
                    <div class="prod-more-btn">
                        <a class="more-btn" href="javascript:void();">быстрый просмотр</a>
                    </div>
                </div>
                <div class="prod-img-wrapper col-md-6">
                    <div class="prod-image">
                        <img id="mpic_@item.ID" data-id="@item.ProdImages.SingleOrDefault(x=>x.IsPreview==1).ID" src="@Url.Action("GetProdImage", "ImageData", new {pid=item.ID,width=130,height=150 },Request.Url.Scheme)" />
                        <div class="prod-details"> <i class="icon-search"></i>&nbsp; Подробнее</div>
                    </div>
                    <div class="imglist-wrap" id="prod_sl_@carouselCounter">
                        <i class="fa fa-chevron-left prev"></i>
                        <div class="prod-imglist">

                            <ul>
                                @foreach (var img in item.ProdImages)
                                {
                                    <li>
                                        <img class="imglist-item" data-id="@img.ID" data-pid="@img.ProductID" src="@Url.Action("GetProdImage", "ImageData", new {pimgid=img.ID,type="small" },Request.Url.Scheme)" height="50" width="50" />
                                    </li>
                                }
                            </ul>
                        </div>
                        <i class="fa fa-chevron-right next"></i>
                    </div>

                </div>
            </div>
        </div>
                                carouselCounter++;


    }
</div>

<div class="pager">@Html.PageLinks(Model.PagingInfo, x => Url.Action("ProdList", new { page = x, catId = Model.PagingInfo.CatId }))</div>*@
