@model x_nova_template.ViewModel.ProductListViewModel
@{
    ViewBag.Title = ProductController.GetCatName(Model.PagingInfo.CatId);

    int carouselCounter = 1;
    int catId = 0;
}



<div class="xn-listview-cont aligned-content">
    <div class="xn-listview-table">
        <div class="xn-listview-tr">
            <div class="xn-listview-td">
                <div class="xn-listview-wrapper">
                    <ul class="xn-listview-feed" id="anim-listview">
                        <!-- start of list-->
                        @foreach (var item in Model.Products)
                        {

                            <li class="xn-listview-item" data-id="@item.ID">

                                <div class="xn-lockup">
                                    <div class="item-img">
                                        @if (item.ProdImages.Any(x => x.IsPreview == 1))
                                        {
                                            <img id="mpic_@item.ID" data-id="@item.ProdImages.SingleOrDefault(x=>x.IsPreview==1).ID" src="@Url.Action("GetProdImage", "ImageData", new {pid=item.ID,width=130,height=150 },Request.Url.Scheme)" />
                                        }
                                    </div>
                                    <div class="item-title">
                                        @(item.ProductName.Length > 50 ? item.ProductName.Substring(0, 50) + "..." : item.ProductName)

                                    </div>


                                    <div class="item-desc">
                                        <div class="item-price">@item.Price.ToString("C0") <i class="fa fa-rouble"></i></div>
                                        <div>
                                        <button class="btn btn-default xn-dark-button" data-event-type="cart__add" data-pid="@item.ID">купить</button>
                                        <button class="btn btn-default xn-details">просмотр</button>
                                        </div>
                                    </div>
                                </div>
                            </li>


                        }
                        <!-- End listview -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pager">@Ajax.AjaxPageLinks(Model.PagingInfo)</div>



