@model x_nova_template.ViewModel.ProductListViewModel
@{
    ViewBag.Title = ProductController.GetCatName(Model.PagingInfo.CatId);

    int carouselCounter = 1;
    int catId = 0;
}



<div class="xn-listview-cont aligned-content">
    <div class="xn-listview-table">
        <div class="xn-listview-tr">
            <div class="xn-listview-td">
                <div class="xn-listview-wrapper">
                    <ul class="xn-listview-feed" id="anim-listview">
                        <!-- start of list-->
                        @foreach (var item in Model.Products)
                        {

                            <li class="xn-listview-item" data-id="@item.ID">

                                <a class="normal" >
                                    <div class="item-img">
                                        @if (item.ProdImages.Any(x => x.IsPreview == 1)) { 
                                        <img id="mpic_@item.ID" data-id="@item.ProdImages.SingleOrDefault(x=>x.IsPreview==1).ID" src="@Url.Action("GetProdImage", "ImageData", new {pid=item.ID,width=130,height=150 },Request.Url.Scheme)" />
                                        }
                                    </div>
                                    <div class="item-title">
                                        @(item.ProductName.Length > 50 ? item.ProductName.Substring(0, 50) + "..." : item.ProductName)

                                    </div>
                                </a>

                                <div class="item-desc">
                                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов
                                </div>
                            </li>


                        }
                        <!-- End listview -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pager">@Ajax.AjaxPageLinks(Model.PagingInfo)</div>



