@model x_nova_template.Models.Product

@{
    ViewBag.Title = Model.ProductName;
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}
   @Scripts.Render("~/bundles/zoomjs")
 @Styles.Render("~/Content/zoomcss")
 
<script>
    $(function () {
        $('.prod-image').tiksluszoom({loaderImage:"/Content/ajax-loaders/feed-load1.gif"});
        $('.prod-image img').on('load', function () { });
    });

</script>

<div class="breadcrumbs">@Html.RouteLink("Главная","home") / @Html.ActionLink(ProductController.GetCatName(Model.CategoryID), "ProdListToy", new  {catId=Model.CategoryID }) / @Model.ProductName</div>
<h3>@Model.ProductName</h3>

<div class="prod-view dbg-toy clear-fix" id="pid_@Model.ID">
     <div class="view-img">
         <div class="prod-image" >
            <img class="tiksluszoom" data-big-image="@Url.Action("GetProdImage", "ImageData", new {pid=Model.ID,width=1400,height=1400 },Request.Url.Scheme)" src="@Url.Action("GetProdImage", "ImageData", new {pid=Model.ID,width=400,height=400 },Request.Url.Scheme)" />

        </div>
      
    </div>
    <div class="listview-wrap">

         <div class="xn-i-details">
                            <table>
                                <tr class="d-type">
                                    <th>Тип</th>
                                    <td> @Model.ProductName</td>

                                </tr>
                                <tr class="d-cat">
                                    <th>Область</th>
                                    <td>@ProductController.GetCatName(Model.CategoryID)</td>

                                </tr>
                                <tr class="d-desc">
                                    <th>Описание</th>
                                    <td>@Model.Description</td>

                                </tr>
                            </table>

                        </div>


    </div>
   
     
</div>
