@{/*بسم الله الرحمن الرحيم*/}
@{
    if (!User.Identity.IsAuthenticated)
    { Context.RedirectLocal("/Admin"); }

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/kcss")
    @Styles.Render("~/Content/admcss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/admjs")
    @Scripts.Render("~/bundles/kjs")
   
    
</head>
<body>
  
    <div id="main">
        @* ------------------- ШАПКА ---------------------------*@
        <div id="mainheader">


            <div class="title">
                <div id="header">
                    <div class="h-logo" onclick="location.replace('/Admin');"><img src="/Content/images/mlogo.png" height="50" width="50">@*<span class="h-logotitle"> — NOVA</span>*@</div>
                </div>
                <div class="m-window">
                    @(Html.Kendo().Window()

    .Name("window1")
    .Title("Помощь")
    .Content(@<text>
        <p>
            При возникновении каких-либо неполадок или пожеланий по работе веб-сайта
            обратитесь в службу технической поддержки по телефону или электронной почте:
        </p>
        <p>
            <b>8-962-979-24-89</b><br />
            <b>crew1251@yandex.ru</b>
        </p>
        <hr />

        <h4>Файловый менеджер</h4>
        <p>
            -Загружать файлы можно как через кнопку, так и просто петеращив нужные файлы в блок для загрузки.

        </p>
        <h4>Редактор меню</h4>
        <p>
            - Измененять содержание страниц, название и сортировку пунктов меню вы можете выбрав картинку карандаш напротив пункта меню,
            а также вставлять изображение и ссылки в страницы, закачав их предварительно через файловый менеджер.<br /><br />
            - Позиционирование - это расположение на сайте разных категорий меню(0 - верхнее меню, 1 - боковое и т д).<br /><br />
            - Для добавления подраздела проследуйте по ссылке с иконкой страницы(детали) в главном меню, так же нужно указать
            к какому разделу в главном меню будет принадлежать подраздел - для этого нужно на против свойства Id-Родитель
            указать Id главного раздела. <br />
            - Так же вы можете переопределить подраздел на главное меню - для этого отредактируйте раздел и поставьте
            0 на против свойства Id-Родитель или вы можете привязать подраздел к другому разделу в главном меню
            изменив свойство Id-родитель.<br />

        </p>
        <h4>Учетные данные и пользователи</h4>
        <p>
            -Если хотите изменить пароль или выйти из учетки админ , в правой верхней части экрана
            вы можете выбрать в выпадающем списке нужный вам пункт сменить пароль или выйти.
        </p>

    </text>)
             .Visible(false)
            .Width(600)

           .Events(ev => ev.Close("onClose"))
                    )
                </div>

                <div id="titlename">Администратор</div>
                <div class="dropdown middle" style="position: absolute;left: 1000px;top: 5px;">
                    @(Html.Kendo().DropDownList()
                      .Name("profile")
                      .DataTextField("Text")
                      .DataValueField("Value")
                      .HtmlAttributes(new { style = "width: 150px" })
                      .OptionLabel("Профиль")

                      .BindTo(new List<SelectListItem>() {
                                new SelectListItem(){ Text="Сменить пароль", Value="2"},
                                 new SelectListItem(){ Text="Выйти", Value="3"},
                                 new SelectListItem(){ Text="qq", Value="4"}

                                })
                             .Events(e => { e.Select("onSelect"); e.Open("onOpen"); })

                    )


                </div>
                <div id="helper"> <a href="javascript:void()" id="undoo" class="k-button"><i class="fa fa-info-circle"></i></a></div>
            </div>

        </div>
        @* ------------------- КОНТЕНТ ---------------------------*@
        <div id="page">
            <div id="categories">
                <ul id="panelBar" style=""></ul>

            </div>




            <div id="admincontent">

                @RenderBody()
            </div>
        </div>
        @* ------------------- ФУТЕР ---------------------------*@
        <div id="footer"><a target="_blank" href="http://x-nova.ru">x-nova.ru</a></div>


    </div>
    @RenderSection("scripts", required: false)


</body>
</html>
<script>
    $(function () {

        $(".stripedMe tr:even").addClass("alt");
        imagePreview({
            isLoader: true,
            width: 600,
            height: 800,
            preloadTime: 1000,
            xOffset: 100,
            yOffset: 50

        });


        $("#panelBar").kendoPanelBar({
            dataSource: [
        {
            text: "На сайт",
            url: "/"                  // link URL if navigation is needed (optional)
        },

         {
             text: "Пользователи",
             url: "/Admin/Account/GetUsers"                                 // Allows use of HTML for item text
             // content within an item
         },
        {
            text: "Новости",
            url: "/Admin/Post/Index"                         // Allows use of HTML for item text
            // content within an item
        },
        {
            text: "Статика",
            url: "/Admin/StaticSection/Index"
            // Allows use of HTML for item text
            // content within an item
        },
        {
            text: "Менеджер файлов",
            url: "/Admin/UploadFiles/GetFiles"               // content URL to load within an item
        },
        {
            text: "Медиа менеджер",
            items: [{                                       // Sub item collection.
                text: "Фотогаллерея",
                url: "/Admin/PhotoGallery/Index"

            },
           {                                       // Sub item collection.
               text: "Слайдер",
               url: "/Admin/Slider/Index"
           }
            ]               // content URL to load within an item
        },
        {
            text: "Настройки",
            url: "/Admin/Config/Change/1"               // content URL to load within an item
        },
        {
            text: "Редактор Меню",
            // item image URL, optional
            // item is rendered expanded
            items: [{                                       // Sub item collection.
                text: "Меню 1-го уровня",
                url: "/Admin/Menu/MenuList?type=0"

            },
            {                                       // Sub item collection.
                text: "Меню 2-го уровня",
                url: "/Admin/Menu/MenuList?type=1"
            }
            ]
        },
        {
            text: "Склад",
            // item image URL, optional
            // item is rendered expanded
            items: [{                                       // Sub item collection.
                text: "Изделия",
                url: "/Admin/Product/Index"
            },
            {                                       // Sub item collection.
                text: "Категории",
                url: "/Admin/Category/Index"
            },
            {                                       // Sub item collection.
                text: "Заказы",
                url: "/Admin/Order/Index"
            }]
        }

            ]
        });
    });
    $(document).on("click", "#undoo", function () {

        $("#window1").data("kendoWindow").center().open();
        $("#undo").hide();
    });

    function onClose() {
        $("#undo").show();
    }
    function onOpen() { $('.k-list-optionlabel').eq(0).remove(); }
    function onSelect(e) { var dataItem = this.dataItem(e.item.index()); switch (e.item.index()) { case 0: location.replace('/Admin/Account/ChangePassword'); break; case 1: location.replace('/Admin/Account/LogOff'); break; default: location.replace('/Admin'); } }
    $(window).load(function () {
        var controls = [];
        $('li[role="menuitem"] a').each(function () {

            controls.push($(this).attr('href').split("/")[2]);

        })
       
        //alert($('li[role="menuitem"] a').length);
        //alert($('li[role="menuitem"] a').attr('href').contains("Account"))

         $('li[role="menuitem"]').filter(function () {
             if ($(this).closest('ul[role="group"]').length) {
                 if ($(this).find('a').attr('href').split("/")[2] == '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"]') {
                     $(this).closest('ul').closest('li').addClass('ACTIVATED');
                 }

             }
             else {
                 if ($(this).find('a').attr('href').split("/")[2] == '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"]') {
                     $(this).addClass('ACTIVATED');
                 }
             }
        })
       


        @*for (var i = 0; i <= controls.length; i++) {
          
            //alert($('li[role="menuitem"]:eq(' + i + ') a').attr('href'));
            if ('@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"]' == controls[i]) {
              
               // alert($('li[role="menuitem"]').eq(i).find('a').attr('href'));
               
                if ($('li[role="menuitem"]').eq(i).attr('aria-expanded')!=null) {
                  
                    $('li[role="menuitem"]').eq(i).closest('li').css('border', '1px solid gray');
                }
                else {
                   
                    $('li[role="menuitem"]:eq(' + i + ')').css('border', '1px solid gray');
                }
            }
        }*@
      
    });
    
    @*switch( @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"]){
        case "Post":
            $
    }
     @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"]*@
</script>
<style>   
     .ACTIVATED {
        border-left:2px solid #B5391D!important;
    }
</style>
